<div class="footer-container">
  <footer class="py-3 my-4">
    <div class="text-center">
        <a href="/"><img  class="logofooter" src="/images/Cantin Logo.png" alt="Logo Cantin" height="150px" width="auto"></a>
    </div>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/galerie" class="nav-link px-2 text-muted">Galerie</a></li>
      <li class="nav-item"><a href="/tarifs" class="nav-link px-2 text-muted">Tarifs et prestations</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Charles Cantin SARL</p>
  </footer>
</div>