* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin-left: 10px;
  margin-right: 10px;
}

.image-container {
    position: relative;
  }
  
.image-container img {
  display: block;
  width: 100%;
  height: auto;
}
  
.image-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1em;
  text-align: center;
  width: 100%;
  font-family: Verdana;
}

.logo-header{
    width: 75px;
    height: auto;
}

.logofooter {
    width: 75px;
    height: auto;
}

.card-img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: scale-down;
}

@media (min-width: 500px) { 

    .image-container h1 {
        font-size: 3em;
      }

    .logo-header{
        width: 150px;
        height: auto;
    }

    .logofooter {
        width: 150px;
        height: auto;
    }
    .card-img {
      
      width: 20%;
      
    }
}
