---
titre: Charles Cantin - Photographe
layout: layout.njk
---

<div class="image-container">
    <img src="/images/photo1ere.jpg" alt="photo de page d'accueil du site cantin photographe">
    <h1>{{ titre }}</h1>
</div>


